@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Domain Pricing
7. Why Choose Us
8. Pricing
9. Content Right
10. Content Left
11. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	font-weight: 500;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 2.18;
	font-weight: 500;
	color: #92a4b8;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	/*border-bottom: solid 1px #ffa07f;*/
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #7971ea;
}
p a:hover
{
	color: #7971ea;
	/*background: #7971ea;*/
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(146,164,184,0.55);
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	color: #2c2c2c;
	font-weight: 600;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	/*-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;*/
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.section_subtitle
{
	font-size: 14px;
	font-weight: 400;
	color: #92a4b8;
	margin-top: 0px;
}
.button
{
	width: 193px;
	height: 72px;
	border-radius: 36px;
	overflow: hidden;
}
.button::before
{
	display: block;
	position: absolute;
	top: 0;
	left: -100%;
	width: 200%;
	height: 100%;
	content: '';
	/*background: linear-gradient(to right, #b632fa, #487fee, #b632fa);*/
	background: #20c2f1;
	/*-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;*/
	z-index: 0;
}
.button:hover::before
{
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
	transform: translateX(50%);
}
.button a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	line-height: 72px;
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	z-index: 1;
}

/*********************************
6. Domain Pricing
*********************************/

.domain_pricing
{
	margin-top: -80px;
}
.domain_pricing_content
{
	background: #FFFFFF;
	padding-left: 61px;
	padding-right: 61px;
	border-radius: 50px;
}
.domain_pricing_content ul
{
	width: 100%;
	height: 140px;
}
.domain_pricing_content ul li a > span:first-of-type
{
	font-size: 30px;
	font-weight: 600;
	color: #03dd03;
}
.domain_pricing_content ul li a > span:last-of-type
{
	font-size: 18px;
	margin-left: 23px;
	color: #808080;
}
.domain_pricing_content ul li a
{
	font-size: 24px;
	font-weight: 700;
}
.domain_pricing_content ul li:first-of-type a
{
	color: #005cc3;
}
.domain_pricing_content ul li:nth-child(2) a
{
	color: #a736df;
}
.domain_pricing_content ul li:nth-child(3) a
{
	color: #fa9900;
}
.domain_pricing_content ul li:nth-child(4) a
{
	color: #df36b9;
}
.domain_pricing_content ul li:nth-child(5) a
{
	color: #242424;
}


/*********************************
8. Pricing
*********************************/

.pricing
{
	background: #e1ebeb;
	padding-top: 104px;
	padding-bottom: 99px;
}
.pricing_row
{
	margin-top: 104px;
}
.pricing_item
{
	background: #FFFFFF;
	border: solid 2px #f1f6f9;
}
.pricing_item:hover
{
	border-color: transparent;
	box-shadow: 0px 21px 29px rgba(0,0,0,0.41);
}
.pricing_item_background
{
	position: absolute;
	top: -2px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	/*background: linear-gradient(to right, #20c2f1, #38d39f);*/
	/*background: linear-gradient(to right, #33d1ff, #1990b3);*/
	background: #20c2f1;
	visibility: hidden;
	opacity: 0;
}
.pricing_item:hover .pricing_item_background
{
	visibility: visible;
	opacity: 1;
}
.pricing_title_container
{
	position: absolute;
	top: -2px;
	left: -2px;
	width: calc(100% + 4px);
	height: 218px;
	z-index: 1;
}
.pricing_title_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 218px;
}
.pricing_item:hover .wave_path
{
	fill: url(#grad_2);
}
.pricing_title
{
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 0.75;
	margin-top: 52px;
}
.pricing_price
{
	font-size: 48px;
	font-weight: 500;
	line-height: 0.75;
	color: #FFFFFF;
	margin-top: 29px;
}
.pricing_price span
{
	font-size: 24px;
	font-weight: 500;
	color: #FFFFFF;
	vertical-align: top;
	margin-left: 4px;
}
.pricing_price > div
{
	position: absolute;
	left: -29px;
	top: calc(100% + 17px);
	font-size: 12px;
	font-style: italic;
	color: #FFFFFF;
	font-weight: 400;
}
.pricing_content
{
	padding-top: 218px;
	padding-bottom: 38px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.pricing_list
{
	margin-top: 41px;
}
.pricing_list ul li:not(:last-of-type)
{
	margin-bottom: 15px;
}
.pricing_icon
{
	width: 13px;
	height: 13px;
}
.pricing_icon svg
{
	max-width: 100%;
}
.pricing_item:hover .check_svg
{
	fill: #FFFFFF;
}
.pricing_list ul li div
{
	font-size: 14px;
	font-weight: 500;
	color: #92a4b8;
	margin-left: 9px;
}
.pricing_item:hover .pricing_list ul li div
{
	color: #FFFFFF;
}
.pricing_info
{
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background: #ffc016;
	margin-top: 34px;
}
.pricing_info a
{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}
.pricing_info a > div
{
	font-size: 14px;
	color: #92a4b8;
}
.pricing_button
{
	margin-top: 38px;
	background: #FFFFFF;
}
.pricing_button:hover
{
	background: #67ddff;
}
.pricing_button:hover a
{
	color: #FFFFFF !important;
}
.pricing_item:hover .pricing_button::before
{
	visibility: hidden;
	opacity: 0;
}
.pricing_item:hover .pricing_button a
{
	color: #2c2c2c;
}
.pricing_text
{
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 66px;
}
